.app-body {
    background: url("assets/img/arriere.png") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
     background-size: cover; /* version standardisée */
}